<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/joke.css">
    <script src="/js/jokes.js" defer></script>
</head>
<body>
  <main>
    <h1>Joke Generator</h1>
    <h2>Need a quick laught? We are here to cook for you :)</h2>
    <div class="joke-controls">
       <input type="range" id="slider" min="1" max="5" value="1">
      <div id="sliderLabel">No of Jokes: <span id="jokeCount">1</span></div>
      <button id="generateButton" class="generate-btn">Generate</button>
    </div>
        <div class="jokesContainer" id="jokesContainer">
          
          
        </div>
  </main>
</body>
</html>
