<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="css/login_signup.css">
    <script src="index.js" defer></script>
</head>
<body>
    <main class="main">
        <h1 class="form-title">Login</h1>
        <p class="form-para">Welcome back!</p>
        <form id="myform"  class="myform" >
            <input 
                type="email" 
                id="email" name="email" 
                placeholder="Enter Email"
                class="form-input"
            >

            <input 
                type="password" name="" 
                id="password" 
                placeholder="Enter password"
                class="form-input"
                >

            <button type="submit" id="submit-el">Submit</button>
            <p class="forget-psd">Don't have an account? <a href="">Sign Up</a></p>
        
            <div class="option">or</div>
            <button>Login with Google</button>
        </form>
    </main>
   
</body>
</html>